{{- if .Values.adotCollector.daemonSet.enabled }}
# ConfigMap for ADOT Collector as a DaemonSet with the specified configurations, including configured values from values.yaml.
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.adotCollector.daemonSet.configMap.name }}
  namespace: {{ .Values.adotCollector.daemonSet.namespace }}
  labels:
    app: {{ .Values.adotCollector.daemonSet.configMap.app }}
    component: {{ .Values.adotCollector.daemonSet.configMap.component }}
data:
  adot-config:  |
    extensions:
      health_check: {{ .Values.adotCollector.daemonSet.extensions.healthCheck }}
    receivers:
      awscontainerinsightreceiver:
        collection_interval: {{ .Values.adotCollector.daemonSet.cwreceivers.collectionInterval }}
        container_orchestrator: {{ .Values.adotCollector.daemonSet.cwreceivers.containerOrchestrator }}
        add_service_as_attribute: {{ .Values.adotCollector.daemonSet.cwreceivers.addServiceAsAttribute }}
        prefer_full_pod_name: {{ .Values.adotCollector.daemonSet.cwreceivers.preferFullPodName }}
      prometheus:
        config:
          global:
            scrape_interval: {{ .Values.adotCollector.daemonSet.ampreceivers.scrapeInterval }}
            scrape_timeout: {{ .Values.adotCollector.daemonSet.ampreceivers.scrapeTimeout }}
          scrape_configs: {{ .Values.adotCollector.daemonSet.ampreceivers.scrapeConfigs | nindent 10 }}
    processors:
      batch/metrics:
        timeout: {{ .Values.adotCollector.daemonSet.processors.timeout }}
    exporters:
      awsemf:
        namespace: {{ .Values.adotCollector.daemonSet.cwexporters.namespace }}
        log_group_name: '/aws/containerinsights/{{ .Values.clusterName }}/performance'
        log_stream_name: {{ .Values.adotCollector.daemonSet.cwexporters.logStreamName }}
        resource_to_telemetry_conversion:
          enabled: {{ .Values.adotCollector.daemonSet.cwexporters.enabled }}
        dimension_rollup_option: {{ .Values.adotCollector.daemonSet.cwexporters.dimensionRollupOption }}
        parse_json_encoded_attr_values: {{- range .Values.adotCollector.daemonSet.cwexporters.parseJsonEncodedAttrValues }}
        - {{.}}{{- end }}
        metric_declarations:
          {{ .Values.adotCollector.daemonSet.metricDeclarations | nindent 10 }}
      awsprometheusremotewrite:
        namespace: {{ .Values.adotCollector.daemonSet.ampexporters.namespace }}
        endpoint: {{ .Values.adotCollector.daemonSet.ampexporters.endpoint }}
        resource_to_telemetry_conversion: 
          enabled: {{ .Values.adotCollector.daemonSet.ampexporters.resourcetotel }}
        aws_auth:
          region: {{ .Values.adotCollector.daemonSet.ampexporters.region }}
          service: aps
        
    service:
      pipelines:
        metrics:
          receivers: {{- range .Values.adotCollector.daemonSet.service.metrics.receivers }}
          - {{.}} {{- end }}
          processors: {{- range .Values.adotCollector.daemonSet.service.metrics.processors }}
          - {{.}} {{- end }}
          exporters: {{- range .Values.adotCollector.daemonSet.service.metrics.exporters }}
          - {{.}} {{- end }}
      extensions: {{- range .Values.adotCollector.daemonSet.service.extensions }}
      - {{.}} {{- end }}
{{- end }}
